<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Asciidoctor"
            id="ca.rideauosgoode.eclipse.asciidoctor.preview">
      </category>
      <view
            allowMultiple="true"
            category="ca.rideauosgoode.eclipse.asciidoctor.preview"
            class="ca.rideauosgoode.eclipse.asciidoctor.views.AsciidoctorPreview"
            icon="icons/asciidoctor.ico"
            id="ca.rideauosgoode.eclipse.asciidoctor.views.AsciidoctorPreview"
            inject="true"
            name="Asciidoctor Preview">
      </view>
   </extension>

</plugin>
